[submodule "deps/z.lua"]
	path = deps/z.lua
	url = https://github.com/skywind3000/z.lua.git
  shallow = true
[submodule "deps/cheatsheets-community"]
	path = deps/cheatsheets-community
	url = https://github.com/cheat/cheatsheets.git
  shallow = true
[submodule "deps/bash-preexec"]
	path = deps/bash-preexec
	url = https://github.com/rcaloras/bash-preexec.git
  shallow = true
